@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
:root{
    --verde-claro: #80C189;
    --verde-oscuro: #458A4E;
    --gris: #B6B6B6;
    --gris-claro: #D5D5D5;
    --gris-oscuro: #404040;
    --negro: #1E1E1E;
    --spacer-1:20px;
    --padding-1:10px;
    --padding-2:15px;
    --h1:26px;
    --h2:16px;
    --h3:10px;
    --h4:6px;
    --h5:4px;
    --sans-serif:  Oxanium;
    --padding-1:14px;
    --padding-2:42px;
    --padding-3:56px;
    --padding-4:70px;
    --gap-1:10px;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
main{
    padding-left: 10%;
    padding-top: 1.5%;
}
body{
    background-color: var(--gris-oscuro);
    font-family: var(--sans-serif);
}
h1{
    font-family: var(--sans-serif);
    font-size: var(--h1);
    font-weight: 700;
}
h2{
    font-family: var(--sans-serif);
    font-size: var(--h2);
    font-weight: 700;
}
h3{
    font-family: var(--sans-serif);
    font-size: var(--h3);
    font-weight: 700;
}
h4{
    font-family: var(--sans-serif);
    font-size: var(--h4);
    font-weight: 400;
    text-transform: uppercase;
}
h5{
    font-family: var(--sans-serif);
    font-size: var(--h5);
    font-weight: 400;
    text-transform: uppercase;
}
p{
    font-family: var(--sans-serif);
    font-size: var(--h2);
    font-weight: 400;
}
.italic{
    font-size: italic;
}
.bold{
    font-weight: 700;
}
.fila{
    display: flex;
    justify-content: space-between;
    gap:var(--gap-1);
}
.wrap {
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    border: 4px solid var(--verde-oscuro);
    padding: var(--padding-1);
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 15px;
    background-color: var(--gris);
    max-width: 400px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}
.card-contenedor{
    display: table;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.espacio_bloques{
    margin-bottom: var(--padding-3);
}
.interno_bloques{
    padding:var(--padding-1);
}
.redondeo {
    border-radius: var(--padding-1);
}
.ocultar{
    overflow: hidden;
}
.absoluto{
    position: absolute;
}
.relativo{
    position: relative;
}
.btn {
    display: block;
    font-size: var(--p);
    padding: var(--padding-1) var(--padding-2);
    background-color: var(--gris-claro);
    color:black;
    border-radius: var(--padding-1);
    margin:var(--padding-1) auto;
    text-decoration: none;
    text-align: center;
    max-width:300px;
    transition: 300ms all;
}
.btn:hover{
    background-color: var(--verde-oscuro);
    color:white;
}


img{
    display: block;
    background-color: var(--gris-oscuro);
    width:100%;
    min-width:300px;
    max-width: 100px;
    min-height: 300px;
    max-height: 100px;
    margin-bottom: var(--padding-1);
}
header{
    display: flex;
    justify-content:space-between;
    background-color:var(--verde-claro);
    color:var(--negro);
    padding:var(--padding-1);
}
header h1 a{
    color:var(--verde-oscuro);
    text-decoration: none;
}
header nav ul{
    display: flex;
    list-style: none;
    gap:var(--gap-1);
}
header nav ul li a{
    color: var(--gris-oscuro);
    text-decoration: none;
    display: block;
    padding:var(--padding-1);
    border-radius:8px;
}
header nav ul li a:hover{
    background-color: var(--verde-oscuro);
}
footer{
    display: flex;
    justify-content: space-between;
    padding:var(--padding-2) var(--padding-1);
    background-color: var(--verde-oscuro);
    color: var(--negro);
}
footer p a{
    text-decoration: none;
    color: var(--negro);
}
footer nav{}
footer nav ul{
    display: flex;
    gap:var(--gap-1);
    list-style: none;
}
footer nav ul li{}
footer nav ul li a{
    text-decoration: none;
    color: var(--gris-claro);
    padding: var(--padding-1);
}
